@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Welcome to BookStore</h1>
    <p>
        Discover a world of books at your fingertips! Whether you’re looking for the latest bestsellers, timeless classics, or niche titles, our collection has something for every reader.
    </p>
    <ul>
        <li><strong>Browse by Category : </strong> Explore genres like fiction, non-fiction, mystery, romance, fantasy, and more.</li>
        <li><strong>Personalized Recommendations : </strong> Get tailored suggestions based on your reading preferences.</li>
        <li><strong>Deals and Discounts : </strong> Enjoy exclusive offers and discounts on your favorite titles.</li>
        <li><strong>Easy Shopping : </strong> Seamless browsing, secure checkout, and fast delivery to your door.</li>
    </ul>
    <p><strong>Start your next reading adventure today!</strong></p>
</div>
